.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  
}

.main-header div {
  text-align: center;
}

.main-header h1 {
  font-weight: bold;
}

.main-header a {
  /* background-color: black; */
  color: white;
  border-radius: 5px;
  display: block;
  width: 300px;
  padding: 10px 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-header a:hover {
  color: white;
}

.main-header small {
  font-size: 12px;
  line-height: 15px;
}


.gradient-btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  position: relative;
}

.gradient-btn::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(to bottom, black, #3498db);
  border-radius: 30px;
}

.gradient-btn span {
  position: relative;
  z-index: 1;
}

.gradient-btn:hover::before {
  filter: blur(10px);
}








@media screen and (max-width: 800px) {
  .main-header {
    padding: 50px 0px;
  }
}
